@import 'estilos.css';

footer{
    padding-top: 20px;
    background-color: #848282;
    color: white;
    font-family: 'Raleway', sans-serif;
    position: absolute; /* Mantém o posicionamento relativo ao fluxo normal do documento */
    width: 100%; /* Faz com que o rodapé ocupe toda a largura da página */
}